<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> BR</a></li>
                    <li><a href="#"><i class="fa fa-user-o"></i> Minha conta</a></li>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="./img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <option value="0">Todas categorias</option>
                                    <option value="1">Alta cilindrada</option>
                                    <option value="2">Baixa cilindrada</option>
                                    <option value="3">Acessórios</option>
                                </select>
                                <input class="input" placeholder="Pesquise aqui...">
                                <button class="search-btn">Pesquisar</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Meu carrinho</span>
                                    <div class="qty" th:text="${quantidadeCarrinho}">0</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="./img/product01.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">Moto XYZ</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$9800.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>

                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="./img/product02.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">Moto ABC</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$15000.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="cart-summary">
                                        <small>2 Item(s) selecionado(s)</small>
                                        <h5>SUBTOTAL: $24800.00</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="#" class="primary-btn">Atualizar Carrinho</a>
                                        <a href="checkout.html" class="primary-btn checkout-btn">Finalizar Compra</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Carrinho de Compras</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

   <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Carrinho de Compras</h3>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Carrinho de Compras -->
                <div class="col-md-12">
                    <div class="cart-list">
                        <div th:each="moto : ${carrinho}" class="product-widget">
                            <div class="product-img">
                                <img th:src="@{'/uploads/' + ${moto.imageUri}}" alt="${moto.marca}">
                            </div>
                            <div class="product-body">
                                <h3 class="product-name" th:text="${moto.modelo}"></h3>
                                <h4 class="product-price" th:text="'$' + ${moto.preco}"></h4>
                            </div>
                            <button class="delete"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                    <div class="cart-summary">
                        <small th:text="${quantidadeCarrinho} + ' Item(s) selecionado(s)'"></small>
                        <h5>SUBTOTAL: <span th:text="'$' + ${carrinho.stream().mapToDouble(moto -> moto.getPreco()).sum()}"></span></h5>
                    </div>
                    <div class="cart-btns">
                        <a href="#">Finalizar Compra <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- /Carrinho de Compras -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
