<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-right">
						<li><a href="#"><i class="fa fa-dollar"></i> BR</a></li>
						<li><a href="#"><i class="fa fa-user-o"></i> Minha conta</a></li>
						<li><a href="#"><i class="fa fa-user-o"></i> Sair</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- ACCOUNT -->
						<div class="header-ctn" >
								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="/carrinhoCompras" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Meu carrinho</span>
										<div class="qty" th:text="${quantidadeCarrinho}">0</div>
									</a>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->


    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Carrinho de Compras</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

   <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Carrinho de Compras -->
                <div class="col-md-12">
                    <div class="cart-list">
                        <div th:each="moto : ${carrinho}" class="product-widget">
                            <div class="product-img">
                                <img th:src="@{'/uploads/' + ${moto.imageUri}}" alt="${moto.marca}">
                            </div>
                            <div class="product-body">
                                <h3 class="product-name" th:text="${moto.modelo}"></h3>
                                <h4 class="product-price" th:text="'R$' + ${moto.preco}"></h4>
                            </div>
                            <form th:action="@{/removerDoCarrinho}" method="get">
                                <input type="hidden" name="id" th:value="${moto.id}" />
                                <button type="submit" class="delete"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="cart-summary">
                        <small th:text="${quantidadeCarrinho} + ' Item(s) selecionado(s)'"></small>
                        <h5>SUBTOTAL: <span th:text="'R$' + ${subtotal}"></span></h5>
                    </div>
					<div class="cart-btns">
						<a href="#" th:href="@{/finalizarCompra}">Finalizar Compra <i class="fa fa-arrow-circle-right"></i></a>
					</div>
					
                </div>
                <!-- /Carrinho de Compras -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
